# Jupyter Notebook files
*.ipynb
.ipynb_checkpoints/

# Virtual environment folders
env/
venv/

# Data and output folders
data/
!data/boston_housing.csv
output/

# Shell scripts
*.sh

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo

# Logs
*.log

# Temporary files
*~
.DS_Store       # macOS file
Thumbs.db       # Windows file

# Environment configuration files
.env

# IDE or editor configurations
.vscode/
.idea/
.Rproj.user
